:root {
    --lightest-blue: #7aebf6e8;
    --another-med-blue: #0094cfb4;
    --mid-blue: #0071A5;
    --dark-blue: #012B46;
}

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-blue);

}
body {
    height: 100vh;
    width: 100%;
    display: flex;
}
#site_left {
    --skew-angle: 5deg;
    --background: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
    height: 100%;
    width: 50%;
    position: relative;
    isolation: isolate;
    padding: 75px 90px;
    background-color: var(--background);
}
#site_left::after {
    content: '';
    position: absolute;
    z-index: -1;
    
    /* shorthand for top, bottom, left, right: 0 */
    /* inset: 0; */
    
    top: 0;
    bottom: 0;
    left: 0;
    /* right: -60px; */
    right: -10%;
    transform: skew(var(--skew-angle));
    background: var(--background);
    border-right: 5px solid var(--dark-blue);    
}
h1 {
    font-size: 64px;
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
}
.header_text, .form_text {
    font-size: 20px;
}
#form_container, form {
    display: flex;
    flex-direction: column;
}
form {
    gap: 0.5rem;
}
#form_container {
    position: relative;
    background-color: var(--lightest-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding: 50px 70px;
    gap: 50px;
}
input {
    height: 30px;
}
#form_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
button {
    width: fit-content;
    appearance: none;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
}
.button_text {
    text-align: center;
}
.button_link:hover {
    text-decoration: underline;
    cursor: pointer;
}
#site_right {
    overflow: hidden;
    height: 100%;
    width: 50%;
}
#myVideo {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -50;
}
@media (max-width: 1270px) {
    #site_left {
        width: 70%;
    }
}
@media (max-width: 1065px) {
    #site_left {
        width: 100%;
        /* padding: clamp(1rem, 2rem, 3rem); */
    }
    video {
        width: max-content;
    }
    #form_container {
        padding: clamp(1rem, 2rem, 3rem);
    }
    
}
@media (max-width: 900px) {
    #site_left {
        display: relative;
        height: fit-content;
        width: max-content;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.7);
        border: 5px solid var(--dark-blue);
    }
    h1 {
        font-size: 2rem;
    }
    .header_text, .form_text, button, .button_text {
        font-size: 0.9rem;
    }
    
    #site_left::after {
        display: none;
    }
    #site_right {
        display: relative;
        height: 100vh;
        width: 100vw;
    }
    video {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
    }
}